In [5]:
import pandas as pd
import numpy as np

# Carregamento de dados

dados = pd.read_excel('dataframe.xlsx')
display(dados.head())

,Emitente,Emitente CNPJ,Destinatário,Destinatário CNPJ,Número,Chave de Acesso,Valor,Emissão,Volumes,Valor do Frete,...,CT-e Valor,Emitente Município,Destinatário Município,Transportador CNPJ,Transportador Município,Transportador Endereço,Transportador UF,Situação,Série,Peso
0,PNEUBRAS COMERCIO DE PNEUS LTDA,08.678.386/0059-13,J E V PNEUS LTDA,40.866.840/0001-56,3331,26240208678386005913550010000033311192829562,983.66,01/02/2024,2.0,0.0,...,15.54,Garanhuns,Vitória de Santo Antão,26.103.312/0001-14,Caruaru,RUA SEBASTIAO JOSE DE MENEZES N. 43,PE,Autorizado,1,21.22
1,PMP DIST. DE ACESSORIOS E IMP. DE MOTOPECAS LTDA,34.790.793/0001-01,ALEXANDRE VIEIRA DA SILVA 12312109409,35.820.846/0001-52,126769,26240234790793000101550000001267691001267700,415.84,01/02/2024,3.0,0.0,...,8.65,Goiana,Jurema,26.103.312/0001-14,Caruaru,RUA SEBASTIAO JOSE DE MENEZES,PE,Autorizado,0,2.82
2,PMP DIST. DE ACESSORIOS E IMP. DE MOTOPECAS LTDA,34.790.793/0001-01,JOSE DONATO DA SILVA JUNIOR,35.795.916/0001-60,126772,26240234790793000101550000001267721001267730,476.07,01/02/2024,5.0,0.0,...,9.90,Goiana,Cupira,26.103.312/0001-14,Caruaru,RUA SEBASTIAO JOSE DE MENEZES,PE,Autorizado,0,1.65
3,BRASIL COMPONENTES AUTOMOTIVOS LTDA,11.031.766/0010-40,ELIEVALTER FERRAO MOREIRA,12.299.252/0001-42,3329,26240211031766001040550010000033291003162771,3621.06,01/02/2024,1.0,0.0,...,NaN,Petrolina,Bezerros,26.103.312/0001-14,Caruaru,RUA SEBASTIAO JOSE DE MENEZES KENNEDY,PE,Autorizado,1,14.36
4,BRASIL COMPONENTES AUTOMOTIVOS LTDA,11.031.766/0010-40,GABRIEL ARCOVERDE DE MORAES,05.524.717/0001-56,3328,26240211031766001040550010000033281003162766,840.18,01/02/2024,1.0,50.0,...,NaN,Petrolina,Garanhuns,26.103.312/0001-14,Caruaru,RUA SEBASTIAO JOSE DE MENEZES KENNEDY,PE,Autorizado,1,1.52

In [7]:
dados.describe()

,Número,Valor,Volumes,Valor do Frete,CT-e Valor,Série,Peso
count,6.066000e+03,6066.000000,5665.000000,6066.000000,2944.000000,6066.000000,4766.000000
mean,4.457754e+05,1873.574649,4.813239,3.477165,46.477208,9.167656,51.452016
std,5.360307e+05,2638.283092,16.739595,10.591267,63.097935,31.998373,507.859360
min,1.000000e+00,2.640000,1.000000,0.000000,0.090000,0.000000,0.001000
25%,5.273050e+04,525.000000,1.000000,0.000000,21.827500,1.000000,4.570750
50%,1.387905e+05,1210.000000,2.000000,0.000000,30.560000,1.000000,12.361000
75%,7.944485e+05,2263.607500,5.000000,0.000000,50.360000,1.000000,40.000000
max,1.683178e+06,76900.000000,752.000000,156.490000,1599.520000,170.000000,31140.000000

In [35]:
autonorte = dados.loc[dados['Emitente CNPJ'] == '11.509.676/0005-55']
autonorte = autonorte.loc[autonorte['Emissão'] == '01/02/2024']
display(autonorte[['Destinatário', 'CT-e Número']])

                                           Destinatário CT-e Número
52                         PRIME PECAS AUTOMOTIVAS LTDA      910099
58                                     CARUARU BUS LTDA      910153
74                               SERGIO TEODORO DIAS ME      910184
76                   JC SILVA SERVICOS AUTOMOTIVOS LTDA      910144
77               JEFFERSON BARBOSA DA SILVA 07765317431      910183
...                                                 ...         ...
2918            ALIZONAITON RAMOS FERREIRA AUTO MOLAS -         NaN
2919                        GABRIELI SILVA PEDROZA LTDA         NaN
2921                            RICARDO AUTO PECAS LTDA         NaN
4502  MIHAYLOV FERREIRA ARAUJO AUTOPECAS E SERVICOS ...         NaN
4503                      WILLIAMS JOSE DO PRADO LORENA         NaN

[124 rows x 2 columns]

In [58]:
autonorte.isnull().sum()

Emitente                    0
Emitente CNPJ               0
Destinatário                0
Destinatário CNPJ           0
Número                      0
Chave de Acesso             0
Valor                       0
Emissão                     0
Volumes                     0
Valor do Frete              0
Status                      0
CT-e Número                68
CT-e Valor                 68
Emitente Município          0
Destinatário Município      0
Transportador CNPJ          0
Transportador Município     0
Transportador Endereço      0
Transportador UF            0
Situação                    0
Série                       0
Peso                        0
dtype: int64